Project ${project_name}
=======================
=======================

${description}

Build and Install
=================

- mkdir build
- cmake -DCMAKE_INSTALL_PREFIX=/usr ..
- make
- make install (as root)
