if (CMAKE_COMPILER_IS_GNUCXX AND CMAKE_BUILD_TYPE STREQUAL "Release")
  set (CMAKE_CXX_FLAGS_DEBUG "$${CMAKE_CXX_FLAGS_DEBUG} -Wall -Werror -Wextra")
  set (CMAKE_C_FLAGS_DEBUG "$${CMAKE_CXX_FLAGS_DEBUG} -Wall -Werror -Wextra")
endif ()

################################################################################################
################################################################################################
################################################################################################

set (MAIN_SOURCES
  main.cpp
)

add_executable (${project_name} $${MAIN_SOURCES})

################################################################################################
################################################################################################
################################################################################################

install(
  TARGETS ${project_name}
  DESTINATION bin
)
