# -*- coding: utf-8 -*-
from setuptools import setup, find_packages
from [[package]] import __version__



setup(
    name='[[package]]',
    version=__version__,
    author='[[author]]',
    author_email='[[author_email]]',
    include_package_data = True,
    packages=find_packages(),
    description='[[description]]',
    url='[[url]]',   
    #long_description=open('README.rst').read(),
    #license='BSD License',
    #entry_points = {
    #    'console_scripts': ['[[package|replace(' ', '_')]] = [[package|replace(' ', '_')]].cli:main'],
    #},
    install_requires=[
    
        ]
)
